body {
  background-color: #000000;
  color: #FFFFFF;
}
footer {
  background-color: #282828!important;
  color: #636c72!important;
}
.modal-header, .modal-content p {
 color: #FFFFFF;
}
input[type="text"], #customcssinput, #customjsinput, #logourl, #searchname, #searchurl {
  border: 1px solid #545454!important;
  background-color:#212121;
  color: #FFFFFF;
  box-shadow: none!important;
}
.modal-box {
  background-color: #212121!important;
}
.modal-close {
  color: #FFFFFF;
}
.modal-close:hover {
  color: #b7b7b7;
}
.modal-close:active {
 color: #878787; 
}
#optionsbtn, #submitsearch {
  fill: #FFFFFF!important;
}

.button-submit, .button-submit:hover, .button-submit:active, .button-clear, .button-clear:hover, .button-clear:active {
  color: #FFFFFF!important;
}