.center {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.options {
    float: right;
    position: absolute;
    right: 10px;
}
#submitsearch {
    vertical-align: middle;
    fill: #FFFFFF;
}
form.searchbox input[type="submit"] {
    visibility: collapse;
}
#options-box {
    z-index: 2;
    display: none;
    border-radius: 4px;
    background-color: #d8d8d8;
    color: #000000;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 5px 8px #636363;
    overflow: hidden;
    right: 0px;
}
#options-content {
    width: 100%;
    border-radius: 4px;
}
#options-content a {
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#options-content a:hover {
    background-color: #afafaf;
}
#options-content .option-dropdown {
    margin: 0;
    text-align: center;
    display: block;
    padding: 0;
}
#options-content .option-dropdown select {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}
#optionsbtn {
    fill: #000000;
}
.show-options {
    display: block;
}
.pagecontent {
    z-index: 3;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modal-box {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px auto;
    width: 80%;
    background-color: #FFFFFF;
    padding: 9px 15px;
    margin-left: 10%;
    margin-top: 16px;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    animation-name: modal-enter;
    animation-duration: 0.3s;
    -webkit-animation-name: modal-enter;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: modal-enter;
    -moz-animation-duration: 0.3s;
    -o-animation-name: modal-enter;
    -o-animation-duration: 0.3s;
}
.modal-close {
    float: right;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.modal-close:hover {
    color: #4c4c4c;
}
.modal-close:active {
    color: #6d6d6d;
}
.modal-header {
    border-bottom: 0!important;
    margin-bottom: 2px!important;
}
.modal-error {
    display: none;
    color: #D50000;
}
#customcssinput, #customjsinput, #logourl, #searchname, #searchurl, #importdata, #exportdata {
    width: 100%;
    height: auto;
    resize: vertical;
    font-family: 'courier new', fixed;
    font-size: 16px;
    background-color: #f9f9f9;
}
@media screen and (max-height: 600px) and (max-width: 600px) {
    #customcssinput {
        font-size: 11px;
    }
    #customjsinput {
        font-size: 11px;
    }
}
@media screen and (max-height: 550px),
screen and (max-width: 430px) {
    #kbdmodal-box {
        overflow-y: scroll!important;
        height: 90%;
    }
}
@keyframes modal-enter {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@-webkit-keyframes modal-enter {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@-moz-keyframes modal-enter {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@-o-keyframes modal-enter {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
#logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#searchtext {
    width: 87%!important;
    max-width: 87%!important;
    background-color: transparent;
    color: white;
    border: 0px solid transparent!important;
    box-shadow: none!important;
    font-weight: 600;
    font-size: 1.2em;
}
#searchbox {
    background-color: #424242;
    padding: 8px;
    border-radius: 2em;
    max-width: 100%!important;
}
.kbd {
    font-family: 'courier new', fixed;
    background-color: #424242;
    padding: 5px;
    border: 1px solid #545454!important;
    box-shadow: 0 2px 2px #2f2f2f;
    color: #FFFFFF;
    border-radius: 4px;
}
#kbdmodal-content .kbd {
    line-height: 2em;
}
.red {
    color: #D50000;
}
.button-submit {
    background-color: Transparent!important;
    width: 48%;
    text-align: center;
    font-size: 1em;
    border-radius: 4px!important;
    transition: background-color 0.2s, color 0.2s;
    margin-bottom: 6px!important;
    border: 2px solid #0078e7!important;
    color: #000000!important;
    float: left;
}
.button-submit:hover {
    background-color: #0078e7!important;
    color: #FFFFFF!important;
}
.button-submit:active {
    background-color: #0062bc!important;
    color: #FFFFFF!important;
}
.button-clear {
    background-color: Transparent!important;
    width: 48%;
    text-align: center;
    font-size: 1em;
    border-radius: 4px!important;
    transition: background-color 0.2s, color 0.2s;
    margin-bottom: 6px!important;
    border: 2px solid #616161!important;
    color: #000000!important;
    float: right;
}
.button-clear:hover {
    background-color: #616161!important;
    color: #FFFFFF!important;
}
.button-clear:active {
    background-color: #3f3f3f!important;
    color: #FFFFFF!important;
}
.button-wide {
    width: 100%!important;
}
#export-pg4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .3em;
    display: block;
    text-align: center;
}