.center {
 text-align: center;
 margin: 0 auto;
}

.blog-title {
 text-align: center;
 font-weight: bold;
 font-size: 1.5em;
}

.blog-title a {
 color: #000000; 
}

.post-section {
  color: #000000!important;
}

.blog-heading {
 background: #000000!important;
 margin-top: 0.15em;
 padding: 1.8px!important;
}

.post-title, .post-subtitle {
 border-bottom: 0!important;
}

.post-title a {
  color: #000000;
}

.post-title {
 margin-bottom: 0!important;
}

.post-subtitle {
 margin-bottom: 0.5em!important; 
}

.element h2 {
  margin-top: 0;
}

.element h1, .element h2 {
 padding-bottom: 0!important;
}

.kbd {
  font-family: 'courier new', fixed;
  background-color: #424242;
  padding: 3px;
  border: 1px solid #545454!important;
  box-shadow: 0 2px 2px #2f2f2f;
  color: #FFFFFF;
  border-radius: 4px;
}

video {
 height: auto;
 width: 100%;
}

.element footer {
  background-color: #212121!important;
  color: #FFFFFF!important;
}